/**
 * Crossly Seller API
 *
 * The seller-facing Crossly API — listings, crossposting, orders, analytics. Authenticate with a Personal Access Token (`Authorization: Bearer crossly_pat_…`) or a seller OAuth token (`crossly_oat_…`), scoped `<domain>:<read|write>`. Buyer endpoints are a SEPARATE API with a separate principal — see the Crossly Buyer API.
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package net.crossly.apis

import java.io.IOException

import net.crossly.models.Error
import net.crossly.models.GetActionLogFacetResponse
import net.crossly.models.GetActionLogResponse
import net.crossly.models.ListActionLogCallsItem
import net.crossly.models.ListActionLogItem
import net.crossly.models.V1List

import com.squareup.moshi.Json

import net.crossly.infrastructure.ApiClient
import net.crossly.infrastructure.ApiResponse
import net.crossly.infrastructure.ClientException
import net.crossly.infrastructure.ClientError
import net.crossly.infrastructure.ServerException
import net.crossly.infrastructure.ServerError
import net.crossly.infrastructure.MultiValueMap
import net.crossly.infrastructure.RequestConfig
import net.crossly.infrastructure.RequestMethod
import net.crossly.infrastructure.ResponseType
import net.crossly.infrastructure.Success
import net.crossly.infrastructure.toMultiValue

class ActivityApi(basePath: kotlin.String = defaultBasePath) : ApiClient(basePath) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://crossly.net/api")
        }
    }

    /**
    * Get one action-log event by id (ownership-checked).
    * 
    * @param id  
    * @return GetActionLogResponse
    * @throws IllegalStateException If the request is not correctly configured
    * @throws IOException Rethrows the OkHttp execute method exception
    * @throws UnsupportedOperationException If the API returns an informational or redirection response
    * @throws ClientException If the API returns a client error response
    * @throws ServerException If the API returns a server error response
    */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getActionLog(id: java.util.UUID) : GetActionLogResponse {
        val localVarResponse = getActionLogWithHttpInfo(id = id)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GetActionLogResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
    * Get one action-log event by id (ownership-checked).
    * 
    * @param id  
    * @return ApiResponse<GetActionLogResponse?>
    * @throws IllegalStateException If the request is not correctly configured
    * @throws IOException Rethrows the OkHttp execute method exception
    */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getActionLogWithHttpInfo(id: java.util.UUID) : ApiResponse<GetActionLogResponse?> {
        val localVariableConfig = getActionLogRequestConfig(id = id)

        return request<Unit, GetActionLogResponse>(
            localVariableConfig
        )
    }

    /**
    * To obtain the request config of the operation getActionLog
    *
    * @param id  
    * @return RequestConfig
    */
    fun getActionLogRequestConfig(id: java.util.UUID) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/action-log/{id}".replace("{"+"id"+"}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            body = localVariableBody
        )
    }

    /**
    * Distinct platforms / actions / categories present in the caller&#39;s action log (last 90 days) — powers filter dropdowns before you query.
    * 
    * @return GetActionLogFacetResponse
    * @throws IllegalStateException If the request is not correctly configured
    * @throws IOException Rethrows the OkHttp execute method exception
    * @throws UnsupportedOperationException If the API returns an informational or redirection response
    * @throws ClientException If the API returns a client error response
    * @throws ServerException If the API returns a server error response
    */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getActionLogFacet() : GetActionLogFacetResponse {
        val localVarResponse = getActionLogFacetWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GetActionLogFacetResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
    * Distinct platforms / actions / categories present in the caller&#39;s action log (last 90 days) — powers filter dropdowns before you query.
    * 
    * @return ApiResponse<GetActionLogFacetResponse?>
    * @throws IllegalStateException If the request is not correctly configured
    * @throws IOException Rethrows the OkHttp execute method exception
    */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getActionLogFacetWithHttpInfo() : ApiResponse<GetActionLogFacetResponse?> {
        val localVariableConfig = getActionLogFacetRequestConfig()

        return request<Unit, GetActionLogFacetResponse>(
            localVariableConfig
        )
    }

    /**
    * To obtain the request config of the operation getActionLogFacet
    *
    * @return RequestConfig
    */
    fun getActionLogFacetRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/action-log/facets",
            query = localVariableQuery,
            headers = localVariableHeaders,
            body = localVariableBody
        )
    }

    /**
    * List action-log events — the semantic \&quot;what happened\&quot; record of every user + platform action. Filter by platform / action / category / status / source / target, and a since/until created_at window.
    * 
    * @param platform  (optional)
    * @param action  (optional)
    * @param category  (optional)
    * @param status  (optional)
    * @param source  (optional)
    * @param targetType  (optional)
    * @param targetId  (optional)
    * @param since ISO lower bound (inclusive) on created_at. (optional)
    * @param until ISO upper bound (exclusive) on created_at. (optional)
    * @param limit  (optional, default to 50)
    * @param offset  (optional, default to 0)
    * @return V1List
    * @throws IllegalStateException If the request is not correctly configured
    * @throws IOException Rethrows the OkHttp execute method exception
    * @throws UnsupportedOperationException If the API returns an informational or redirection response
    * @throws ClientException If the API returns a client error response
    * @throws ServerException If the API returns a server error response
    */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun listActionLog(platform: kotlin.String?, action: kotlin.String?, category: kotlin.String?, status: kotlin.String?, source: kotlin.String?, targetType: kotlin.String?, targetId: kotlin.String?, since: kotlin.String?, until: kotlin.String?, limit: kotlin.Int?, offset: kotlin.Int?) : V1List {
        val localVarResponse = listActionLogWithHttpInfo(platform = platform, action = action, category = category, status = status, source = source, targetType = targetType, targetId = targetId, since = since, until = until, limit = limit, offset = offset)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as V1List
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
    * List action-log events — the semantic \&quot;what happened\&quot; record of every user + platform action. Filter by platform / action / category / status / source / target, and a since/until created_at window.
    * 
    * @param platform  (optional)
    * @param action  (optional)
    * @param category  (optional)
    * @param status  (optional)
    * @param source  (optional)
    * @param targetType  (optional)
    * @param targetId  (optional)
    * @param since ISO lower bound (inclusive) on created_at. (optional)
    * @param until ISO upper bound (exclusive) on created_at. (optional)
    * @param limit  (optional, default to 50)
    * @param offset  (optional, default to 0)
    * @return ApiResponse<V1List?>
    * @throws IllegalStateException If the request is not correctly configured
    * @throws IOException Rethrows the OkHttp execute method exception
    */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun listActionLogWithHttpInfo(platform: kotlin.String?, action: kotlin.String?, category: kotlin.String?, status: kotlin.String?, source: kotlin.String?, targetType: kotlin.String?, targetId: kotlin.String?, since: kotlin.String?, until: kotlin.String?, limit: kotlin.Int?, offset: kotlin.Int?) : ApiResponse<V1List?> {
        val localVariableConfig = listActionLogRequestConfig(platform = platform, action = action, category = category, status = status, source = source, targetType = targetType, targetId = targetId, since = since, until = until, limit = limit, offset = offset)

        return request<Unit, V1List>(
            localVariableConfig
        )
    }

    /**
    * To obtain the request config of the operation listActionLog
    *
    * @param platform  (optional)
    * @param action  (optional)
    * @param category  (optional)
    * @param status  (optional)
    * @param source  (optional)
    * @param targetType  (optional)
    * @param targetId  (optional)
    * @param since ISO lower bound (inclusive) on created_at. (optional)
    * @param until ISO upper bound (exclusive) on created_at. (optional)
    * @param limit  (optional, default to 50)
    * @param offset  (optional, default to 0)
    * @return RequestConfig
    */
    fun listActionLogRequestConfig(platform: kotlin.String?, action: kotlin.String?, category: kotlin.String?, status: kotlin.String?, source: kotlin.String?, targetType: kotlin.String?, targetId: kotlin.String?, since: kotlin.String?, until: kotlin.String?, limit: kotlin.Int?, offset: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (platform != null) {
                    put("platform", listOf(platform.toString()))
                }
                if (action != null) {
                    put("action", listOf(action.toString()))
                }
                if (category != null) {
                    put("category", listOf(category.toString()))
                }
                if (status != null) {
                    put("status", listOf(status.toString()))
                }
                if (source != null) {
                    put("source", listOf(source.toString()))
                }
                if (targetType != null) {
                    put("targetType", listOf(targetType.toString()))
                }
                if (targetId != null) {
                    put("targetId", listOf(targetId.toString()))
                }
                if (since != null) {
                    put("since", listOf(since.toString()))
                }
                if (until != null) {
                    put("until", listOf(until.toString()))
                }
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (offset != null) {
                    put("offset", listOf(offset.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/action-log",
            query = localVariableQuery,
            headers = localVariableHeaders,
            body = localVariableBody
        )
    }

    /**
    * The outbound platform HTTP calls under an event (oldest first) — url, method, status, latency, redacted request/response bodies, proxy + recipe/hash. Answers \&quot;what was sent / what went wrong\&quot;.
    * 
    * @param id  
    * @return V1List
    * @throws IllegalStateException If the request is not correctly configured
    * @throws IOException Rethrows the OkHttp execute method exception
    * @throws UnsupportedOperationException If the API returns an informational or redirection response
    * @throws ClientException If the API returns a client error response
    * @throws ServerException If the API returns a server error response
    */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun listActionLogCalls(id: java.util.UUID) : V1List {
        val localVarResponse = listActionLogCallsWithHttpInfo(id = id)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as V1List
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
    * The outbound platform HTTP calls under an event (oldest first) — url, method, status, latency, redacted request/response bodies, proxy + recipe/hash. Answers \&quot;what was sent / what went wrong\&quot;.
    * 
    * @param id  
    * @return ApiResponse<V1List?>
    * @throws IllegalStateException If the request is not correctly configured
    * @throws IOException Rethrows the OkHttp execute method exception
    */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun listActionLogCallsWithHttpInfo(id: java.util.UUID) : ApiResponse<V1List?> {
        val localVariableConfig = listActionLogCallsRequestConfig(id = id)

        return request<Unit, V1List>(
            localVariableConfig
        )
    }

    /**
    * To obtain the request config of the operation listActionLogCalls
    *
    * @param id  
    * @return RequestConfig
    */
    fun listActionLogCallsRequestConfig(id: java.util.UUID) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/action-log/{id}/calls".replace("{"+"id"+"}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            body = localVariableBody
        )
    }

}
