/**
 * Crossly Seller API
 *
 * The seller-facing Crossly API — listings, crossposting, orders, analytics. Authenticate with a Personal Access Token (`Authorization: Bearer crossly_pat_…`) or a seller OAuth token (`crossly_oat_…`), scoped `<domain>:<read|write>`. Buyer endpoints are a SEPARATE API with a separate principal — see the Crossly Buyer API.
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package net.crossly.apis

import java.io.IOException

import net.crossly.models.CreateOfferRespondResponse
import net.crossly.models.Error
import net.crossly.models.GetOfferResponse
import net.crossly.models.InlineObject2

import com.squareup.moshi.Json

import net.crossly.infrastructure.ApiClient
import net.crossly.infrastructure.ApiResponse
import net.crossly.infrastructure.ClientException
import net.crossly.infrastructure.ClientError
import net.crossly.infrastructure.ServerException
import net.crossly.infrastructure.ServerError
import net.crossly.infrastructure.MultiValueMap
import net.crossly.infrastructure.RequestConfig
import net.crossly.infrastructure.RequestMethod
import net.crossly.infrastructure.ResponseType
import net.crossly.infrastructure.Success
import net.crossly.infrastructure.toMultiValue

class OffersApi(basePath: kotlin.String = defaultBasePath) : ApiClient(basePath) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://crossly.net/api")
        }
    }

    /**
    * Accept, decline, or counter a buyer offer on a Crossly marketplace listing.
    * 
    * @param id Offer UUID. 
    * @param inlineObject2  
    * @return CreateOfferRespondResponse
    * @throws IllegalStateException If the request is not correctly configured
    * @throws IOException Rethrows the OkHttp execute method exception
    * @throws UnsupportedOperationException If the API returns an informational or redirection response
    * @throws ClientException If the API returns a client error response
    * @throws ServerException If the API returns a server error response
    */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun createOfferRespond(id: kotlin.String, inlineObject2: InlineObject2) : CreateOfferRespondResponse {
        val localVarResponse = createOfferRespondWithHttpInfo(id = id, inlineObject2 = inlineObject2)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CreateOfferRespondResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
    * Accept, decline, or counter a buyer offer on a Crossly marketplace listing.
    * 
    * @param id Offer UUID. 
    * @param inlineObject2  
    * @return ApiResponse<CreateOfferRespondResponse?>
    * @throws IllegalStateException If the request is not correctly configured
    * @throws IOException Rethrows the OkHttp execute method exception
    */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun createOfferRespondWithHttpInfo(id: kotlin.String, inlineObject2: InlineObject2) : ApiResponse<CreateOfferRespondResponse?> {
        val localVariableConfig = createOfferRespondRequestConfig(id = id, inlineObject2 = inlineObject2)

        return request<InlineObject2, CreateOfferRespondResponse>(
            localVariableConfig
        )
    }

    /**
    * To obtain the request config of the operation createOfferRespond
    *
    * @param id Offer UUID. 
    * @param inlineObject2  
    * @return RequestConfig
    */
    fun createOfferRespondRequestConfig(id: kotlin.String, inlineObject2: InlineObject2) : RequestConfig<InlineObject2> {
        val localVariableBody = inlineObject2
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/offers/{id}/respond".replace("{"+"id"+"}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter status
     */
     enum class Status_getOffer(val value: kotlin.String) {
         @Json(name = "pending") pending("pending"),
         @Json(name = "accepted") accepted("accepted"),
         @Json(name = "declined") declined("declined"),
         @Json(name = "countered") countered("countered"),
         @Json(name = "expired") expired("expired"),
         @Json(name = "withdrawn") withdrawn("withdrawn"),
         ;
     }

    /**
    * List buyer offers on your Crossly marketplace listings, including bundles.
    * 
    * @param status Filter to one status. Omit for all. (optional)
    * @param limit  (optional, default to 50)
    * @return GetOfferResponse
    * @throws IllegalStateException If the request is not correctly configured
    * @throws IOException Rethrows the OkHttp execute method exception
    * @throws UnsupportedOperationException If the API returns an informational or redirection response
    * @throws ClientException If the API returns a client error response
    * @throws ServerException If the API returns a server error response
    */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getOffer(status: Status_getOffer?, limit: kotlin.Int?) : GetOfferResponse {
        val localVarResponse = getOfferWithHttpInfo(status = status, limit = limit)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GetOfferResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
    * List buyer offers on your Crossly marketplace listings, including bundles.
    * 
    * @param status Filter to one status. Omit for all. (optional)
    * @param limit  (optional, default to 50)
    * @return ApiResponse<GetOfferResponse?>
    * @throws IllegalStateException If the request is not correctly configured
    * @throws IOException Rethrows the OkHttp execute method exception
    */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getOfferWithHttpInfo(status: Status_getOffer?, limit: kotlin.Int?) : ApiResponse<GetOfferResponse?> {
        val localVariableConfig = getOfferRequestConfig(status = status, limit = limit)

        return request<Unit, GetOfferResponse>(
            localVariableConfig
        )
    }

    /**
    * To obtain the request config of the operation getOffer
    *
    * @param status Filter to one status. Omit for all. (optional)
    * @param limit  (optional, default to 50)
    * @return RequestConfig
    */
    fun getOfferRequestConfig(status: Status_getOffer?, limit: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (status != null) {
                    put("status", listOf(status.toString()))
                }
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/offers",
            query = localVariableQuery,
            headers = localVariableHeaders,
            body = localVariableBody
        )
    }

}
