/**
 * Crossly Seller API
 *
 * The seller-facing Crossly API — listings, crossposting, orders, analytics. Authenticate with a Personal Access Token (`Authorization: Bearer crossly_pat_…`) or a seller OAuth token (`crossly_oat_…`), scoped `<domain>:<read|write>`. Buyer endpoints are a SEPARATE API with a separate principal — see the Crossly Buyer API.
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package net.crossly.apis

import java.io.IOException

import net.crossly.models.CreateSourcingReceiptResponse
import net.crossly.models.Error
import net.crossly.models.GetSourcingReceiptResponse
import net.crossly.models.ListSourcingDemandItem
import net.crossly.models.ListSourcingDemandMineItem
import net.crossly.models.V1List

import com.squareup.moshi.Json

import net.crossly.infrastructure.ApiClient
import net.crossly.infrastructure.ApiResponse
import net.crossly.infrastructure.ClientException
import net.crossly.infrastructure.ClientError
import net.crossly.infrastructure.ServerException
import net.crossly.infrastructure.ServerError
import net.crossly.infrastructure.MultiValueMap
import net.crossly.infrastructure.RequestConfig
import net.crossly.infrastructure.RequestMethod
import net.crossly.infrastructure.ResponseType
import net.crossly.infrastructure.Success
import net.crossly.infrastructure.toMultiValue

class SourcingApi(basePath: kotlin.String = defaultBasePath) : ApiClient(basePath) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://crossly.net/api")
        }
    }

    /**
    * Append a parsed receipt to the sourcing ledger.
    * 
    * @return CreateSourcingReceiptResponse
    * @throws IllegalStateException If the request is not correctly configured
    * @throws IOException Rethrows the OkHttp execute method exception
    * @throws UnsupportedOperationException If the API returns an informational or redirection response
    * @throws ClientException If the API returns a client error response
    * @throws ServerException If the API returns a server error response
    */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun createSourcingReceipt() : CreateSourcingReceiptResponse {
        val localVarResponse = createSourcingReceiptWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CreateSourcingReceiptResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
    * Append a parsed receipt to the sourcing ledger.
    * 
    * @return ApiResponse<CreateSourcingReceiptResponse?>
    * @throws IllegalStateException If the request is not correctly configured
    * @throws IOException Rethrows the OkHttp execute method exception
    */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun createSourcingReceiptWithHttpInfo() : ApiResponse<CreateSourcingReceiptResponse?> {
        val localVariableConfig = createSourcingReceiptRequestConfig()

        return request<Unit, CreateSourcingReceiptResponse>(
            localVariableConfig
        )
    }

    /**
    * To obtain the request config of the operation createSourcingReceipt
    *
    * @return RequestConfig
    */
    fun createSourcingReceiptRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/sourcing/receipts",
            query = localVariableQuery,
            headers = localVariableHeaders,
            body = localVariableBody
        )
    }

    /**
    * List parsed sourcing receipts in this user&#39;s ledger.
    * 
    * @return GetSourcingReceiptResponse
    * @throws IllegalStateException If the request is not correctly configured
    * @throws IOException Rethrows the OkHttp execute method exception
    * @throws UnsupportedOperationException If the API returns an informational or redirection response
    * @throws ClientException If the API returns a client error response
    * @throws ServerException If the API returns a server error response
    */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getSourcingReceipt() : GetSourcingReceiptResponse {
        val localVarResponse = getSourcingReceiptWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GetSourcingReceiptResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
    * List parsed sourcing receipts in this user&#39;s ledger.
    * 
    * @return ApiResponse<GetSourcingReceiptResponse?>
    * @throws IllegalStateException If the request is not correctly configured
    * @throws IOException Rethrows the OkHttp execute method exception
    */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getSourcingReceiptWithHttpInfo() : ApiResponse<GetSourcingReceiptResponse?> {
        val localVariableConfig = getSourcingReceiptRequestConfig()

        return request<Unit, GetSourcingReceiptResponse>(
            localVariableConfig
        )
    }

    /**
    * To obtain the request config of the operation getSourcingReceipt
    *
    * @return RequestConfig
    */
    fun getSourcingReceiptRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/sourcing/receipts",
            query = localVariableQuery,
            headers = localVariableHeaders,
            body = localVariableBody
        )
    }

    /**
    * Items buyers looked for on other sites that Crossly did not have.
    * Aggregate demand observed by the Scout extension, ranked by MISSES — the times somebody asked and we had nothing. &#x60;medianPageCents&#x60; is what the retailers were charging, which is the number to source against. Anonymous in every case; there is no per-buyer view of this.
    * @param days  (optional, default to 30)
    * @param minLooks  (optional, default to 3)
    * @param limit  (optional, default to 50)
    * @return V1List
    * @throws IllegalStateException If the request is not correctly configured
    * @throws IOException Rethrows the OkHttp execute method exception
    * @throws UnsupportedOperationException If the API returns an informational or redirection response
    * @throws ClientException If the API returns a client error response
    * @throws ServerException If the API returns a server error response
    */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun listSourcingDemand(days: kotlin.Int?, minLooks: kotlin.Int?, limit: kotlin.Int?) : V1List {
        val localVarResponse = listSourcingDemandWithHttpInfo(days = days, minLooks = minLooks, limit = limit)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as V1List
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
    * Items buyers looked for on other sites that Crossly did not have.
    * Aggregate demand observed by the Scout extension, ranked by MISSES — the times somebody asked and we had nothing. &#x60;medianPageCents&#x60; is what the retailers were charging, which is the number to source against. Anonymous in every case; there is no per-buyer view of this.
    * @param days  (optional, default to 30)
    * @param minLooks  (optional, default to 3)
    * @param limit  (optional, default to 50)
    * @return ApiResponse<V1List?>
    * @throws IllegalStateException If the request is not correctly configured
    * @throws IOException Rethrows the OkHttp execute method exception
    */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun listSourcingDemandWithHttpInfo(days: kotlin.Int?, minLooks: kotlin.Int?, limit: kotlin.Int?) : ApiResponse<V1List?> {
        val localVariableConfig = listSourcingDemandRequestConfig(days = days, minLooks = minLooks, limit = limit)

        return request<Unit, V1List>(
            localVariableConfig
        )
    }

    /**
    * To obtain the request config of the operation listSourcingDemand
    *
    * @param days  (optional, default to 30)
    * @param minLooks  (optional, default to 3)
    * @param limit  (optional, default to 50)
    * @return RequestConfig
    */
    fun listSourcingDemandRequestConfig(days: kotlin.Int?, minLooks: kotlin.Int?, limit: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (days != null) {
                    put("days", listOf(days.toString()))
                }
                if (minLooks != null) {
                    put("minLooks", listOf(minLooks.toString()))
                }
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/sourcing/demand",
            query = localVariableQuery,
            headers = localVariableHeaders,
            body = localVariableBody
        )
    }

    /**
    * Unmet buyer demand for items you hold or have sold before.
    * 
    * @param days  (optional, default to 60)
    * @param minLookers  (optional, default to 2)
    * @param limit  (optional, default to 25)
    * @return V1List
    * @throws IllegalStateException If the request is not correctly configured
    * @throws IOException Rethrows the OkHttp execute method exception
    * @throws UnsupportedOperationException If the API returns an informational or redirection response
    * @throws ClientException If the API returns a client error response
    * @throws ServerException If the API returns a server error response
    */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun listSourcingDemandMine(days: kotlin.Int?, minLookers: kotlin.Int?, limit: kotlin.Int?) : V1List {
        val localVarResponse = listSourcingDemandMineWithHttpInfo(days = days, minLookers = minLookers, limit = limit)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as V1List
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
    * Unmet buyer demand for items you hold or have sold before.
    * 
    * @param days  (optional, default to 60)
    * @param minLookers  (optional, default to 2)
    * @param limit  (optional, default to 25)
    * @return ApiResponse<V1List?>
    * @throws IllegalStateException If the request is not correctly configured
    * @throws IOException Rethrows the OkHttp execute method exception
    */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun listSourcingDemandMineWithHttpInfo(days: kotlin.Int?, minLookers: kotlin.Int?, limit: kotlin.Int?) : ApiResponse<V1List?> {
        val localVariableConfig = listSourcingDemandMineRequestConfig(days = days, minLookers = minLookers, limit = limit)

        return request<Unit, V1List>(
            localVariableConfig
        )
    }

    /**
    * To obtain the request config of the operation listSourcingDemandMine
    *
    * @param days  (optional, default to 60)
    * @param minLookers  (optional, default to 2)
    * @param limit  (optional, default to 25)
    * @return RequestConfig
    */
    fun listSourcingDemandMineRequestConfig(days: kotlin.Int?, minLookers: kotlin.Int?, limit: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (days != null) {
                    put("days", listOf(days.toString()))
                }
                if (minLookers != null) {
                    put("minLookers", listOf(minLookers.toString()))
                }
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/sourcing/demand/mine",
            query = localVariableQuery,
            headers = localVariableHeaders,
            body = localVariableBody
        )
    }

}
