/**
 * Crossly Seller API
 *
 * The seller-facing Crossly API — listings, crossposting, orders, analytics. Authenticate with a Personal Access Token (`Authorization: Bearer crossly_pat_…`) or a seller OAuth token (`crossly_oat_…`), scoped `<domain>:<read|write>`. Buyer endpoints are a SEPARATE API with a separate principal — see the Crossly Buyer API.
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package net.crossly.apis

import java.io.IOException

import net.crossly.models.Error
import net.crossly.models.GetTaxonomyCategoryAspectResponse
import net.crossly.models.GetTaxonomyCategoryChildrenResponse
import net.crossly.models.GetTaxonomyCategoryResponse
import net.crossly.models.GetTaxonomyRequiredFieldResponse
import net.crossly.models.ListTaxonomySuggestItem
import net.crossly.models.V1List

import com.squareup.moshi.Json

import net.crossly.infrastructure.ApiClient
import net.crossly.infrastructure.ApiResponse
import net.crossly.infrastructure.ClientException
import net.crossly.infrastructure.ClientError
import net.crossly.infrastructure.ServerException
import net.crossly.infrastructure.ServerError
import net.crossly.infrastructure.MultiValueMap
import net.crossly.infrastructure.RequestConfig
import net.crossly.infrastructure.RequestMethod
import net.crossly.infrastructure.ResponseType
import net.crossly.infrastructure.Success
import net.crossly.infrastructure.toMultiValue

class TaxonomyApi(basePath: kotlin.String = defaultBasePath) : ApiClient(basePath) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://crossly.net/api")
        }
    }

    /**
    * Categories for a platform. Default is top-level; pass &#x60;?parent&#x3D;&lt;categoryId&gt;&#x60; to drill down one level (supported on cookie platforms whose recipe returns flat parent_id-linked rows).
    * 
    * @param platform  
    * @param parent  (optional)
    * @return GetTaxonomyCategoryResponse
    * @throws IllegalStateException If the request is not correctly configured
    * @throws IOException Rethrows the OkHttp execute method exception
    * @throws UnsupportedOperationException If the API returns an informational or redirection response
    * @throws ClientException If the API returns a client error response
    * @throws ServerException If the API returns a server error response
    */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getTaxonomyCategory(platform: kotlin.String, parent: kotlin.String?) : GetTaxonomyCategoryResponse {
        val localVarResponse = getTaxonomyCategoryWithHttpInfo(platform = platform, parent = parent)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GetTaxonomyCategoryResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
    * Categories for a platform. Default is top-level; pass &#x60;?parent&#x3D;&lt;categoryId&gt;&#x60; to drill down one level (supported on cookie platforms whose recipe returns flat parent_id-linked rows).
    * 
    * @param platform  
    * @param parent  (optional)
    * @return ApiResponse<GetTaxonomyCategoryResponse?>
    * @throws IllegalStateException If the request is not correctly configured
    * @throws IOException Rethrows the OkHttp execute method exception
    */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getTaxonomyCategoryWithHttpInfo(platform: kotlin.String, parent: kotlin.String?) : ApiResponse<GetTaxonomyCategoryResponse?> {
        val localVariableConfig = getTaxonomyCategoryRequestConfig(platform = platform, parent = parent)

        return request<Unit, GetTaxonomyCategoryResponse>(
            localVariableConfig
        )
    }

    /**
    * To obtain the request config of the operation getTaxonomyCategory
    *
    * @param platform  
    * @param parent  (optional)
    * @return RequestConfig
    */
    fun getTaxonomyCategoryRequestConfig(platform: kotlin.String, parent: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (parent != null) {
                    put("parent", listOf(parent.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/taxonomy/{platform}/categories".replace("{"+"platform"+"}", "$platform"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            body = localVariableBody
        )
    }

    /**
    * Item-specific aspects (eBay) / properties (Etsy) / hard-coded enums (cookie platforms) for a category.
    * 
    * @param platform  
    * @param id  
    * @return GetTaxonomyCategoryAspectResponse
    * @throws IllegalStateException If the request is not correctly configured
    * @throws IOException Rethrows the OkHttp execute method exception
    * @throws UnsupportedOperationException If the API returns an informational or redirection response
    * @throws ClientException If the API returns a client error response
    * @throws ServerException If the API returns a server error response
    */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getTaxonomyCategoryAspect(platform: kotlin.String, id: kotlin.String) : GetTaxonomyCategoryAspectResponse {
        val localVarResponse = getTaxonomyCategoryAspectWithHttpInfo(platform = platform, id = id)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GetTaxonomyCategoryAspectResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
    * Item-specific aspects (eBay) / properties (Etsy) / hard-coded enums (cookie platforms) for a category.
    * 
    * @param platform  
    * @param id  
    * @return ApiResponse<GetTaxonomyCategoryAspectResponse?>
    * @throws IllegalStateException If the request is not correctly configured
    * @throws IOException Rethrows the OkHttp execute method exception
    */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getTaxonomyCategoryAspectWithHttpInfo(platform: kotlin.String, id: kotlin.String) : ApiResponse<GetTaxonomyCategoryAspectResponse?> {
        val localVariableConfig = getTaxonomyCategoryAspectRequestConfig(platform = platform, id = id)

        return request<Unit, GetTaxonomyCategoryAspectResponse>(
            localVariableConfig
        )
    }

    /**
    * To obtain the request config of the operation getTaxonomyCategoryAspect
    *
    * @param platform  
    * @param id  
    * @return RequestConfig
    */
    fun getTaxonomyCategoryAspectRequestConfig(platform: kotlin.String, id: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/taxonomy/{platform}/categories/{id}/aspects".replace("{"+"platform"+"}", "$platform").replace("{"+"id"+"}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            body = localVariableBody
        )
    }

    /**
    * Direct children of a category node.
    * 
    * @param platform  
    * @param id  
    * @return GetTaxonomyCategoryChildrenResponse
    * @throws IllegalStateException If the request is not correctly configured
    * @throws IOException Rethrows the OkHttp execute method exception
    * @throws UnsupportedOperationException If the API returns an informational or redirection response
    * @throws ClientException If the API returns a client error response
    * @throws ServerException If the API returns a server error response
    */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getTaxonomyCategoryChildren(platform: kotlin.String, id: kotlin.String) : GetTaxonomyCategoryChildrenResponse {
        val localVarResponse = getTaxonomyCategoryChildrenWithHttpInfo(platform = platform, id = id)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GetTaxonomyCategoryChildrenResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
    * Direct children of a category node.
    * 
    * @param platform  
    * @param id  
    * @return ApiResponse<GetTaxonomyCategoryChildrenResponse?>
    * @throws IllegalStateException If the request is not correctly configured
    * @throws IOException Rethrows the OkHttp execute method exception
    */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getTaxonomyCategoryChildrenWithHttpInfo(platform: kotlin.String, id: kotlin.String) : ApiResponse<GetTaxonomyCategoryChildrenResponse?> {
        val localVariableConfig = getTaxonomyCategoryChildrenRequestConfig(platform = platform, id = id)

        return request<Unit, GetTaxonomyCategoryChildrenResponse>(
            localVariableConfig
        )
    }

    /**
    * To obtain the request config of the operation getTaxonomyCategoryChildren
    *
    * @param platform  
    * @param id  
    * @return RequestConfig
    */
    fun getTaxonomyCategoryChildrenRequestConfig(platform: kotlin.String, id: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/taxonomy/{platform}/categories/{id}/children".replace("{"+"platform"+"}", "$platform").replace("{"+"id"+"}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            body = localVariableBody
        )
    }

    /**
    * Normalized field schema the seller needs to fill before crossposting to this platform. Combines master fields (title/description/price/condition) with platform-specific overrides.
    * 
    * @param platform  
    * @param categoryId Optional — used to inline aspects when present. (optional)
    * @return GetTaxonomyRequiredFieldResponse
    * @throws IllegalStateException If the request is not correctly configured
    * @throws IOException Rethrows the OkHttp execute method exception
    * @throws UnsupportedOperationException If the API returns an informational or redirection response
    * @throws ClientException If the API returns a client error response
    * @throws ServerException If the API returns a server error response
    */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getTaxonomyRequiredField(platform: kotlin.String, categoryId: kotlin.String?) : GetTaxonomyRequiredFieldResponse {
        val localVarResponse = getTaxonomyRequiredFieldWithHttpInfo(platform = platform, categoryId = categoryId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GetTaxonomyRequiredFieldResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
    * Normalized field schema the seller needs to fill before crossposting to this platform. Combines master fields (title/description/price/condition) with platform-specific overrides.
    * 
    * @param platform  
    * @param categoryId Optional — used to inline aspects when present. (optional)
    * @return ApiResponse<GetTaxonomyRequiredFieldResponse?>
    * @throws IllegalStateException If the request is not correctly configured
    * @throws IOException Rethrows the OkHttp execute method exception
    */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getTaxonomyRequiredFieldWithHttpInfo(platform: kotlin.String, categoryId: kotlin.String?) : ApiResponse<GetTaxonomyRequiredFieldResponse?> {
        val localVariableConfig = getTaxonomyRequiredFieldRequestConfig(platform = platform, categoryId = categoryId)

        return request<Unit, GetTaxonomyRequiredFieldResponse>(
            localVariableConfig
        )
    }

    /**
    * To obtain the request config of the operation getTaxonomyRequiredField
    *
    * @param platform  
    * @param categoryId Optional — used to inline aspects when present. (optional)
    * @return RequestConfig
    */
    fun getTaxonomyRequiredFieldRequestConfig(platform: kotlin.String, categoryId: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (categoryId != null) {
                    put("categoryId", listOf(categoryId.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/taxonomy/{platform}/required-fields".replace("{"+"platform"+"}", "$platform"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            body = localVariableBody
        )
    }

    /**
    * Reverse lookup — suggest categories matching a search phrase. eBay-only today.
    * 
    * @param platform  
    * @param q  (optional)
    * @return V1List
    * @throws IllegalStateException If the request is not correctly configured
    * @throws IOException Rethrows the OkHttp execute method exception
    * @throws UnsupportedOperationException If the API returns an informational or redirection response
    * @throws ClientException If the API returns a client error response
    * @throws ServerException If the API returns a server error response
    */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun listTaxonomySuggest(platform: kotlin.String, q: kotlin.String?) : V1List {
        val localVarResponse = listTaxonomySuggestWithHttpInfo(platform = platform, q = q)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as V1List
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
    * Reverse lookup — suggest categories matching a search phrase. eBay-only today.
    * 
    * @param platform  
    * @param q  (optional)
    * @return ApiResponse<V1List?>
    * @throws IllegalStateException If the request is not correctly configured
    * @throws IOException Rethrows the OkHttp execute method exception
    */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun listTaxonomySuggestWithHttpInfo(platform: kotlin.String, q: kotlin.String?) : ApiResponse<V1List?> {
        val localVariableConfig = listTaxonomySuggestRequestConfig(platform = platform, q = q)

        return request<Unit, V1List>(
            localVariableConfig
        )
    }

    /**
    * To obtain the request config of the operation listTaxonomySuggest
    *
    * @param platform  
    * @param q  (optional)
    * @return RequestConfig
    */
    fun listTaxonomySuggestRequestConfig(platform: kotlin.String, q: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (q != null) {
                    put("q", listOf(q.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/taxonomy/{platform}/suggest".replace("{"+"platform"+"}", "$platform"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            body = localVariableBody
        )
    }

}
